body {
  background-color: aqua;
  margin: 20px;
}


h1, h2, h3 {
  color:#0077b6;
}


p {
  font-size: 16px;
  color: #33;
}


a {
  color: #ff6600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


form {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
}

input[type="text"], input[type="email"], input[type="date"], select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #0077b6;
  border-radius: 5px;
}

input[type="submit"], input[type="reset"] {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover,input[type="reset"]:hover {
  background-color: #98a2b0;
}
